.content {
  margin: 0 7%;
}

h1 {
  margin-top: 30px;
  font-weight: 700;
  font-size: 26px;
}
.foto{
  margin-top:30px;
  margin-bottom:20px;
  height:100%;
  width:100%;
  text-align: center;

  img{
    height:100%;
    width:100%;
    margin-bottom:60px;
    border-radius:5px;
  }
}
.descr {
  font-size:20px;
  text-align: center;
  height: 100%;
  margin-bottom:20px;
}
.carat{
  text-align: left;
  height: 100%;
  margin-bottom:20px;
  ul{
    li{
      font-size: 20px;
    }
  }
}

// {{-- MAPPA --}}
  .map{
    text-align: center;
    height: 100%;
    margin-top:40px;
    #map{
      height: 350px !important;
      width: 450px !important;
    }
  }
// {{-- MAPPA PAGINA PROPRIETARIO--}}
  .map_proprietario {
    height: 350px;
    width: 100%;
    margin: 5% 0;
    #map{
      height: 100% !important;
      width: 100% !important;
    }
  }

// {{-- MSG --}}
  .msg{
    border:1px solid #1b3c59;
    margin-top:40px;
    text-align: center;
    height: 350px !important;
    width: 450px!important;
    h1{
      padding-top:10px;
      padding-bottom:10px;
      margin-bottom:20px;
    }
  }
// {{-- MODIFICA CANCELLA APPARTAMENTO --}}

.modifica {
  display: flex;
  margin: auto;
  justify-content:space-around;
  div {
    font-size: 20px;
  }
}

.insert_dati{
  #mail_msg{
    height: 50px;
    width: 80%;
    margin:auto;
    margin-bottom: 10px;
    font-size: 18px;
  }
  #message{
    height:100px;
    width:80%;
    font-size: 18px;
    margin:auto;
  }
}
.invia{
  button{
    font-size: 15px;
    font-weight: bold;
    padding: 2% 5%;
    background-color:#1b3c59 ;
    color: white;
    box-shadow: none;
    border-radius: 5px;
    margin: 5% 0;
    border: none;
  }
}

@media screen and (min-width: 767.98px){
  .descr {
    text-align: left;
  }
}
